@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: #F7F7F7;
}
.LandingPageHeader::after{
  content: "";
  z-index: -1;
  background-color: #092646;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.BackgroundHover{
  display: block;
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%) scale(1.08);
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.CardHover:hover .BackgroundHover {
  background-color: rgb(235, 234, 234);
}
.deleteHover{
  display: none;
  opacity: 0;
  cursor: pointer;
}
.amenitiesCard:hover .deleteHover{
  display: flex;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}


.max-h-custom::-webkit-scrollbar {
  width: 12px;
}

.max-h-custom::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.max-h-custom::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.max-h-custom::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.max-h-custom {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #888 #E9E9E9;
  @media screen and (max-width: 768px){
    max-height: calc(100vh - 164px );
  }
}